# Fichiers de configuration locaux
.env
config/local.php

# Dépendances
node_modules/
vendor/

# Fichiers de build
dist/
build/

# IDE
.idea/
.vscode/

# Logs et caches
*.log
*.cache
/tmp/

# Fichiers système
.DS_Store
Thumbs.db
